<body>
    <!-- Header -->
    <div class="header">
        <h1><a routerLink="../login" class="loginlink">Corona Verordnungen</a></h1>
        <p>Für<b> jedes</b> Bundesland</p>
    </div>

    <!-- Navigation Bar -->
    <nav>
        <h1>Bundesland auswählen: </h1>
        <select class="dropDown" [(ngModel)]="selectedState" (change)="searchByState(selectedState)">
            <option  *ngFor="let state of states">{{state}}</option>
        </select>
        <div id="searchfield">
            <input [(ngModel)]="searchWords" type="text" placeholder="Search.." name="search">
            <button (click)="searchByRegulations(searchWords)">🔎</button>
        </div>
    </nav>

    <!-- Content -->
    <div class="mainContent">
        <h2>Verordnungen für: {{selectedState}}</h2>
        <div *ngIf="selectedDecreesByStateFiltered.length > 0; else elseBlock">
            <table>
                <tr>
                    <th>Beschreibung</th>
                    <th>Einschränkungen</th>
                </tr>
                <tr *ngFor="let decree of selectedDecreesByStateFiltered">
                    <td>{{ decree.description }}</td>
                    <td>{{ decree.regulations }}</td>
                </tr>
            </table>
        </div>
        <ng-template class="noDataTemplate" #elseBlock>
            <div class="noDataText">
                Ooops! Es konnten keine Verordnungen gefunden werden...
            </div>
        </ng-template>
    </div>

    <!-- Footer -->
    <footer>
        Java-Fullstack-Prüfung: René Körner und Chris Frömling
    </footer>
</body>