<!--  Verordnungen edit -->
<div *ngIf="popupVisible" class="popupWindow">
    <div class="popupContent">
        <h3>Bearbeitung der Verordnung für {{editingState}}</h3>
        <div class="editFieldsDiv">
            <div>
                <h5>Beschreibung:</h5>
                <input class="uploadInput" type="text" [(ngModel)]="editingDescription">
            </div>
            <div class="regulationDiv">
                <h5>Einschränkungen:</h5>
                <input class="uploadInput" type="text" [(ngModel)]="editingRegulations">
            </div>
            <div class="submitEditingButtonDiv">
                <button (click)="updateDecree()">Fertig</button>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="window">
    <div class="welcomeDiv">
        <p>Willkommen im Bereitstellungsmenü für Corona-Verordnungen! Sie können neue Verordnungen ganz einfach über diese Seite erstellen.</p>
        <div class="uploadDiv">
            <select [(ngModel)]="selectedUploadState">
                <option *ngFor="let state of states">{{state}}</option> 
            </select>
            <button class="importButton" (click)="filteredImport()">Import je Bundesland</button>
            <button class="importButton" (click)="basicImport()">Import aller Bundesländer</button>
        </div>

    </div>

    <!-- Verordnungen add -->
    <div class="tableDiv">
        <div class="entryFieldsDiv">
            <div>
                Bundesland:
                <select [(ngModel)]="selectedState" (change)="searchByState(selectedState)">
                    <option *ngFor="let state of states">{{state}}</option> 
                </select>
            </div>
            <div>
                Beschreibung:
                <input class="uploadInput" type="text" placeholder="z.B.: Mindestabstand 3m" [(ngModel)]="descriptionDecree">
            </div>
            <div class="regulationDiv">
                Einschränkungen:
                <input class="uploadInput" type="text" placeholder="z.B.: Fußball draußen" [(ngModel)]="regulationsDecree">
            </div>

            <button class="newDecreeButton" (click)="addDecree()">neue Verordnung</button>
        </div>

        <!-- Verordnungen table -->
        <div *ngIf="selectedDecreesByStateFiltered.length > 0; else elseBlock">
            <h2>Verordnungen für: {{selectedState}}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Beschreibung</th>
                        <th>Einschränkungen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let decree of selectedDecreesByStateFiltered; index as index">
                        <td>{{ decree.description }}</td>
                        <td>{{ decree.regulations }}</td>
                        <td class="buttonColumn"> <button class="editButton" (click)="openDecreeEditor(decree)">edit</button>
                            <button class="deleteButton" (click)="deleteDecree(decree)">delete</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #elseBlock>
        <p class="noDataText">Ooops! Es konnten keine Verordnungen gefunden werden...</p>
    </ng-template>
</div>